*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial;
}
body{
    background:linear-gradient(#DFE6FB,#F7F9FF);
    display: flex;
    justify-content: center;
    align-items:center;
}
.container{
    height: 697px;
    width: 450px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom:50px ;
    background-color: white;
}
.img{
    height:220px;
    width: 100%;
    background-image: url(illustration-hero.svg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}
.section2{
    height: 477px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
}
.box1{
    width: 354px;
    color: #1F2E55;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 354px;
    color: #717FA6;
    text-align: center;
    line-height: 1.8rem;
}
.box3{
    width: 354px;
    height: 100px;
    background-color: #f7f9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.div1{
    display: flex;
    width: 156px;
    justify-content: space-between;
    align-items: center;
}
.price{
    color: #1F2E55;
    p{
        margin-top: 6px;
        color: #717FA6;
    }
}
.box4{
    height: 50px;
    width: 354px;
    background-color: #382AE1;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    box-shadow:0px 0px 40px #DFE6FB ;
}
.box5{
    color: #717FA6;
}
a{
    color: #382AE1;
}
a:hover{
    color: #766CF1;
    text-decoration: none;
}
.box4:hover{
    background-color: #766CF1;
}
.box5:hover{
    color: #1F2E55;
}